* {
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Ibarra Real Nova', serif;
    font-size: 24px;
}

.row {
    max-width: 550px;
    margin: 0 auto;
}

.btn {
    margin-left: 310px;
    border-radius: 5px;
    background-color: white;
    color: black;
}


.btn:hover {
    background-color: black;
    color: white;
    cursor: progress;
}

.text {
    width: 70px;
}

fieldset {
    margin-top: 40px;
    padding : 30px 10px;
}

#calculation{
    padding-left: 250px;
    height: 200px;
    width: auto;
}

.result{
    float: left;
    width: 30%;
}


  